body {
	padding-bottom: 0px;
}


/* ==================LOGO & NAVBAR======================= */
#logo {
	display: inline-block;
}

.nav>li>a {
	padding: 10px 15px;	
}

.dropdown-menu li a:hover {
	background-color: lightgray;
}

.vid-transparent {
	background-color: transparent;
	border-radius: 5px;
}

/* ==================CAROUSEL SLIDER======================= */
.first-slide, .second-slide, .third-slide {
	background-size: cover;
}

.carousel-caption h1 {
	text-shadow: 4px 3px 0px #000, 9px 8px 0 rgba(0, 0, 0, 0.0);
	font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
	color: #ffffff;
	font-weight: bolder;
	font-size: 50px;
	margin-bottom: 35px;
}




/* ==================MARKETING MESSAGES======================= */
.btn-default {
	background-color: #337ab7;
	color: #fff;
}

.col-lg-4 h2 {
	color: #3084BF;
}

.fa {
	color: #3084BF;
}


/* ==================OUR PARTNERS======================= */
.partners {
	background-color: #3084BF;
	color: #fff;
	border-bottom: 1px solid #000;
}

.lead {
	color: #fff;
}


/* ==================MEMBERSHIP FORM======================= */
.form-horizontal {
	margin: 60px 130px ;
	padding: 20px;
	background-color: #eee;
}

.legend {
	color: #3084BF;
}

.red-star {
	color: red;
}


/* ==================GALLERY PAGE================================= */
.foto-gallery {
	margin-top: 100px;
    padding: 20px;
}




/* ==================MODAL SIGNIN DIALOG BOX======================= */
.modal-content {
	background-color: #eee;
}

.modal-dialog {
	width: 57%;
	margin: 70px auto;
	background-color: #eee;
	border-radius: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 40px 0px 10px 100px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* ==================FOOTER======================= */
footer {
	background-color: #444;
	border-top: 1px solid #000;
	color: #fff;
	height: 100px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.navbar-text > a {
	color: inherit;
	text-decoration: none;
}
.blanker{
	border-style: none;
    padding: 0;
    margin: 0;
}